.PerformrRunnerResultGraph .CloseButton {
    background: transparent;
    border: none;
    color: #a7a7a7;
    font-weight: bold;
    cursor: pointer;
    padding: 3px 6px;
    margin-top: -5px;

    &:hover {
        text-decoration: underline;
    }

    &:after {
        vertical-align: bottom;
        line-height: 10px;
        content: ' ❌';
    }
}
