$PerformrRunnerResultGraph_leftColumnWidth: 300px;

$PerformrRunnerResultGraph_eventPlotHeight: 20px !default;
$PerformrRunnerResultGraph_eventPlotSelectedColor: #a8b9c4 !default;
$PerformrRunnerResultGraph_eventPlotColor: #01a9f4 !default;

$PerformrRunnerResultGraph_transactionPlotHeight: 20px !default;
$PerformrRunnerResultGraph_transactionPlotColorOdd: #8bfca9 !default;
$PerformrRunnerResultGraph_transactionPlotColorEven: #cef75b !default;
