.PerformrRunnerResultGraph .EventTimingTable {
    > table {
        display: block;

        > tbody {
            > tr {
                > th {
                    text-align: left;
                    vertical-align: top;
                }

                > td {
                    vertical-align: top;
                }
            }
        }
    }
}
