@import "./defaultTheme";

.PerformrRunnerResultGraph .ResultGraph {
    position: relative;
    display: flex;
    flex-direction: column;

    > .GraphHeader {
        flex: 0 0 auto;
    }

    > .eventPlot {
        position: relative;
        flex: 2;

        > .scroller {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            overflow-x: hidden;
            overflow-y: scroll;

            > .scrollArea {
                position: relative;
                display: flex;
                flex-direction: row;
                background: repeating-linear-gradient(
                    180deg,
                    transparent 0,
                    transparent #{$PerformrRunnerResultGraph_eventPlotHeight},
                    lightgrey #{$PerformrRunnerResultGraph_eventPlotHeight},
                    lightgrey #{$PerformrRunnerResultGraph_eventPlotHeight * 2}
                );

                > .EventTreeColumn {
                    width: $PerformrRunnerResultGraph_leftColumnWidth;
                    flex: 0 0 auto;
                }

                > .EventPlotColumn {
                    width: calc(100% - #{$PerformrRunnerResultGraph_leftColumnWidth});
                    flex: 0 0 auto;
                }

                > .EventTreeColumn > .EventTree,
                > .EventPlotColumn > .scroller > .scrollArea > .EventPlot {
                    // always render at least 25 event rows; otherwise the user might think the GUI is broken
                    min-height: $PerformrRunnerResultGraph_eventPlotHeight * 25;
                }
            }
        }

        > .NativeScrollXInput {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    > .EventDetails {
        height: 200px;
        overflow: auto;
    }

    > .ScreenshotPopup {
        position: absolute;
        top: 15px;
        bottom: 15px;
        left: 15px;
        right: 15px;
        z-index: 100;
    }
}
