@import "./defaultTheme";

.PerformrRunnerResultGraph .TransactionPlotItem {
    position: relative;
    pointer-events: none;

    > .plotWrap {
        height: $PerformrRunnerResultGraph_transactionPlotHeight;

        > button.plot {
            pointer-events: auto;
            position: absolute;
            top: 1px;
            height: $PerformrRunnerResultGraph_transactionPlotHeight - 2px;
            // left and width are set by script
            background: $PerformrRunnerResultGraph_transactionPlotColorOdd;
            text-align: center;
            white-space: nowrap; // Prevent time from writing to next line
            overflow: hidden;
            text-overflow: ellipsis;
            border: none;
            padding: 0;
            color: inherit;
            font: inherit;
            cursor: pointer;

            &:hover {
                overflow: visible;
                z-index: 1;
            }

            > .title {
                font-weight: bold;
                background-color: inherit;

                &:after {
                    content: ": ";
                }
            }

            > .time {
                background-color: inherit;
            }
        }
    }

    &:nth-child(even) > .plotWrap > .plot {
        background: $PerformrRunnerResultGraph_transactionPlotColorEven;
    }
}
